html {scroll-behavior: smooth; font-family: 'Nato Sans KR', sans-serif; box-sizing: border-box;}
		body,p {margin: 0; padding: 0;}
		div,section,nav {width: 1280px;}
		nav {margin: 0px; position: sticky;top: 0; background: #ffde00 ;z-index: 20;}
		nav ul {margin: auto;}
		nav ul li {list-style-type: none; width: 20%; height: 40px;}
		nav ul li a {display: inline-block; line-height: 40px; text-align: center;}
		nav ul li a:link {display: block;  text-decoration: none; color: black;}
	 	nav ul li a:visited { color: black; text-decoration: none;}
		nav ul li a:hover {background: #5a00ff; transition: all 0.5s; color: white;}

		.row {width: 1000px; margin: auto; position: relative; z-index: 2;}
		.flexbox {display: flex;}
		.col-1 {width: 16.66%}
		.col-2 {width: 33.33%}
		.col-3 {width: 50%}
		.col-4{width: 66.66%}
		.col-5{width: 83.32%}
		.col-6{width: 100%}
		.text-white-bold {color: white;  font-weight: 700;}
		.text-white-bold-1 {color: white;  font-weight: 700; font-size: 65px;}
		.text-black-normal {color: black; font-weight: 400;}
		.text-black-bold {color: black;  font-weight: 700;}
		.text-black-thick {color: black; font-weight: 900;}
		.text-white-semibold-1 {color: white; font-weight: 400; font-size: 45px;}
		.text-white-thick {color: white; font-weight: 900;}
		.a {background-color: #5a00ff; height: 600px; position: relative;}
		.a p {width: 700px; font-size: 75px; position: absolute; top: 50px; left: 50px;}
		.b {background-color: #ffde00; height: 900px; position: relative;}
		.b img {width: 80%; position: absolute; left: 260px; bottom: 300px; }
		.c {background-color: #ffde00; height: 1700px; position: relative;}
		.c img {width: 100%; position: relative;}
		.c p { width: 500px; font-size: 65px; position: absolute; left: 50px; bottom: 80px;}
		.d {background-color: #ffde00; height: 1700px; position: relative;}
		.d img {width: 100%; position: absolute; top: 550px; right: 200px;}
		.d p {width: 500px; font-size: 100px; position: absolute; left: 800px; top: 150px;}
		.e {background-color: #5a00ff; height: 200px; position: relative;}
		.e p {position: absolute; top: 150px; left: 50px}
		.f {background-color: #5a00ff; height: 300px; position: relative;}
		.f p {position: absolute; top: 15px; left: 50px}
		.g {background-color: #5a00ff; height: 800px; position: relative;}
		.g iframe {width: 1280px; height: 720px; position: absolute; top: 50px;}
		.h {background-color: #5a00ff; height: 500px; position: relative;}
		.h p {position: absolute; top: 320px; left: 600px; text-align: right;}
		.h-1 {background-color: #5a00ff; height: 250px; position: relative;}
		.h-1 p {position: absolute; top: 5px; left: 500px; font-size: 130px; text-align: right;}
		.img img {width: 100%;}
		.img2 img {width: 130%;}
		.i {background-color: white; height: 800px; position: relative;}
		.i p {font-size: 100px; position: absolute; left: 40px; top: 250px;}
		.j {height: 550px; background-color:#ffde00; position: relative;}
		.j p {font-size: 95px; position: absolute;left: 100px; top: 150px; }
		.k {height: 800px; background-color:#ffde00; position: relative;}
		.k img {width: 65%; position: absolute; right: 600px;}
		.k p {width: 700px; font-size: 45px; position: absolute; top: 300px; left: 600px;}
		.l {background-color: #5a00ff; height: 650px; position: relative;}
		.l p {text-align: right; font-size: 85px; position: absolute; top: 200px; right: 90px;}
		.l-2 {background-color: #5a00ff; height: 1200px; position: relative;}
		.l-2 img {width: 100%; position: absolute; top: 50px;}
		.m {height: 700px; background-color:#ffde00; position: relative;}
		.m img {width: 65%; position: absolute; right: 500px; z-index: 1;}
		.m p {width: 700px; text-align: right; font-size: 75px; position: absolute; top: 380px; left: 400px;}
		.n { height: 1200px; background-color: #5a00ff; position: relative;}
		.n img {width: 90%; position: absolute; left: 150px; top: 220px; z-index: 2; }
		.n p {width: 700px; text-align: left; font-size: 85px; position: absolute; top: 850px; left: 50px; }
		.o {background-color: white; height: 1300px; position: relative;}
		.o img {width: 80%; position: absolute; left: 100px;}
		.p {background-color: white; height: 1000px; position: relative;}
		.p img {width: 80%; position: absolute; left: 100px;}
		.up {color: black; font-size: 3em;}
		 footer {height: 200px;}
	 	footer p{text-align: center; font-weight: 100; font-size: 13px; color: black;}
	 	footer p a:link { color: black; text-decoration: none;}
 	 	footer p a:visited { color: black; text-decoration: none;}
	  	footer p a:hover { color: #2E9AFE; text-decoration: none;}		
